body {
    background-color: black;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
h1 {
    color : yellow;
    font-family: 'Times New Roman', Times, serifssssssss;
}
h3 {
    color: white
}

.content {
    max-width: 500px;
    margin: auto;
}
.slider {
    height: 1000px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.slide-track {
    display: flex;
    width: calc(250px * 24);
    animation: scroll 40s linear infinite;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 6));
    }
}
.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    perspective: 100px;
}
img {
    height: 200%;
    width: 120%;
    transition: transform 1s;
}
img:hover {
    transform: rotateZ(20px);
}
/** Gradient Shadows**/
.slider:before,
.slider::after {
    background: linear-gradient(to right rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}
.slider::before {
    left: 0;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
